<h1> "NBA Team Info" </h1>
<!-- <img src="./events/NBA_Playoffs.png" /> -->
<%= image_tag("NBA_Playoffs.png") %>
<table class='table'>
<% @events.each do |event| %>
  <tr>
    <td>
    <%= event.teamName%>
    </td>

    <td>
    <%= link_to 'Show', event_path(event), :class => "btn btn-primary"  %>

    <%= link_to 'Edit', edit_event_path(event), :class => "btn btn-default" %>

    <%= link_to 'Delete', :controller => 'events', :action => 'destroy', :id => event %>

    </td>
  </tr>
<% end %>
</table>
<%= paginate @events %>
<%= link_to 'New Event', :controller => 'events', :action => 'new' %>
